/*#mapid { height: 180px; }*/
html,body,#app{ /*height: 100%;
width: 100%;*/
}
.row{
  padding: 10%;
}

#map{
    position: fixed;
    top: 50px;
    left:0;
    border: 0px solid black;
    border-radius: 8px;
    height: 600px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

.navbar-custom{
    background-color: #39A87B;/*#007348;*/
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item, a{
  color:white;
}

.hashtag{
  color: #ccc;
  font-size: 105%;
}
