<!DOCTYPE html>
<html lang="en">
<head>
  <title>sen3bear</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/leaflet.css">
<link rel="stylesheet" href="./css/bootstrap.min.css/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="css/favicon.ico" />
<style>
html,body,#app{ /*height: 100%;
width: 100%;*/
}
.row{
  padding: 10%;
}

#map{
    position: fixed;
    top: 50px;
    left:0;
    border: 0px solid black;
    border-radius: 8px;
    height: 600px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
    max-height: 70%;
}

/*navbar view */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #39A87B;
  z-index:100;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8BC8AA;
  color: black;
}

.topnav a.active {
  background-color: #8BC8AA;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #hashtag{
    size: 110%;
    color: #aaa;
  }
}
.qas{
  padding:10px;
}
</style>

<!--<nav class="navbar navbar-expand-lg navbar-custom">
<a class="navbar-brand" href="#"><span class="hashtag">#</span>sen<span class="hashtag">3</span>bear</a>
<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="#">LC</a>
  <a class="nav-item nav-link" href="#">Q without A</a>
</div>
</div>
</nav>-->
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="#home"><span class="hashtag"><span id="hashtag">#</span>sen<span id="hashtag">3</span>bear</a>
    <a href="index.html">Baseline/Monitoring</a>
    <a href="survey.html">Q without A</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="container" id="app">

<form>
  <div class="row">

  <!--style="visibility: hidden"-->
  <div class="col col-md-6">
    <div class="qas">
    <h5>1. {{ survey[0].title }}</h5>
   <div class="form-check form-check-inline" v-for="rbl in survey[0].qa">
     <input class="form-check-input" type="radio"
     type="radio" name="rb" :value="rbl"
     name="inlineRadioOptions" id="inlineRadio1">
     <label class="form-check-label" for="inlineRadio1">{{ rbl }}</label>
     </div></div>

 <div class="col col-md-8">
   <div class="qas">
   <h5>2. {{ survey[1].title }}</h5>
  <div class="form-check form-check" v-for="rbl in survey[1].qa">

    <input class="form-check-input" type="radio"
    type="radio" name="rb" :value="rbl"
    name="inlineRadioOptions" id="inlineRadio1">
    <label class="form-check-label" for="inlineRadio1">{{ rbl }}</label>
  </div></div>

  <div class="qas">
  <h5>3. {{ survey[2].title }}</h5>
  <div class="form-check form-check" v-for="rbl in survey[2].qa">

   <input class="form-check-input" type="radio"
   type="radio" name="rb" :value="rbl"
   name="inlineRadioOptions" id="inlineRadio1">
   <label class="form-check-label" for="inlineRadio1">{{ rbl }}</label>
  </div></div>

  <div class="qas">
  <h5>4. {{ survey[3].title }}</h5>
  <div>

   <input class="form-input" type="text">

  </div></div>

  <div class="qas">




  </div>

</div>
  </form>

  <button type="button" class="btn btn-warning">Default</button>
  <!--<div class="row">
  <label v-for="rbl in rbLayers">
    <input type="radio"
           name="rb"
           :value="rbl"
           v-model="acLayer">{{ rbl }}
  </label>
</div>-->
</div>

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/leaflet.js"></script>
  <script type="text/javascript" src="js/vue2-leaflet.js"></script>
  <script type="text/javascript" src="js/map.js"></script>
</body>


</html>
